################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dtbcache.v2
*.suo
bin/
obj/
Debug/
Release/
